body {
	font-family: Arial !important;
	background:white;
}
#UrlBrowse {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 12, 233);
    border: 1px solid white;
    border-bottom: none;
    WIDTH:100%;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #CC393F;
}

.profile{
    float: right;
}