body {
	font-family: Arial !important;
	background:white;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3378e0;
    border: 1px solid white;
    border-bottom: none;
    WIDTH:100%;
    list-style-type: none;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #3db1e7;
}

ul > li:last-child
{
    float:right;
}