body {
	font-family: Arial !important;
    background: url("../Img/HZ_beeldmerk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}
#browse {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3378e0;
    border: 1px solid white;
    border-bottom: none;
    WIDTH:100%;
    list-style-type: none;
}
#browseurl {
    float: left;
}

#browseurl a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#browseurl a:hover {
    background-color: #0f6e9b;
    text-decoration: underline;
}
#curpage{
    float: center;
    text-align: center;
    color: white;
    font-size:100px;
    text-decoration: underline;
}
#curpagespan{
    background-color: #082dce;
}
#browse > li:last-child{
    float:right;
}

#txttitel {
    font-weight: bold;
    font-size: 18px;
}
#txt1 {
    background-color: #4b4b4b46 ;
    opacity: 0.7;
}
#txtimage img{
    float: right;
    height: 100px;
    width: 500p
}